@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap");

@import "tailwindcss";

:root {
  font-family: var(--font-IBM);
  color: var(--color-hitam);
}

@theme {
  --font-IBM: "IBM Plex Sans", serif;
  --color-kuning: RGB(250 222 0);
  --color-primary: #007c89;
  --color-hitam: #080808;
}

@layer base {
  h1 {
    @apply font-extrabold text-hitam;
    font-size: clamp(30px, 4vw + 1rem, 86px);
  }

  h2 {
    @apply font-bold text-hitam;
    font-size: clamp(25px, 3.5vw + 0.75rem, 76px);
  }
}

@layer components {
  .gradient-hero {
    background: hsla(0, 0%, 100%, 1);

    background: linear-gradient(
      270deg,
      hsla(0, 0%, 100%, 1) 0%,
      hsla(216, 100%, 92%, 1) 50%,
      hsla(217, 95%, 85%, 1) 100%
    );

    background: -moz-linear-gradient(
      270deg,
      hsla(0, 0%, 100%, 1) 0%,
      hsla(216, 100%, 92%, 1) 50%,
      hsla(217, 95%, 85%, 1) 100%
    );

    background: -webkit-linear-gradient(
      270deg,
      hsla(0, 0%, 100%, 1) 0%,
      hsla(216, 100%, 92%, 1) 50%,
      hsla(217, 95%, 85%, 1) 100%
    );

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFFFFF", endColorstr="#D7E7FF", GradientType=1 );
  }
}
